[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"primer3-py" = "*"
pandas = "*"
python-forge = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
